extends layout

block content
  h1 Tim's FreeCodeCamp Project API
  h2 Header Parser Microservice
  p.red  Example Usage
  code localhost:3000/api/whoami
  br
  p.red Expected Output is Header JSON
  code { "ipaddress": "124.50.12.89", "language": "en-US", "software": "Macintosh; Intel Mac OS X 10_12_6" }
